# Environment
.env
venv/
.idea/
.vscode/


# macOS
.DS_Store

# Frontend
/frontend/.dart_tool/
/frontend/build/
/frontend/.flutter-plugins-dependencies
/frontend/.ios/
/frontend/.android/

# Backend
__pycache__/
/backend/models/
/backend/local_data/
/backend/user_state.db
/data/
/models/